*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
background-color:white;
}
html{
  font-size: 62.5%;
}
.MenuBar{
    height: 3%;
    background-color:#262626;
    text-align: center;
    font-size: 25px;
}
hr{
  opacity: 0;
}
header{
  position: fixed;
  width: 100%;
  z-index: 10;
}
.MenuBar ul{
    display: inline-flex;
    align-items:flex-start;
    list-style: none;
}
.MenuBar ul li{
    width: 170px;
    margin: 15px;
    padding: 15px;
    color: #fff;
}
.MenuBar ul li a{
    text-decoration: none;
    color: #fff;
}
.active,.MenuBar ul  li:hover{
    background: #000;
    border-radius: 15px;
}
.MenuBar .fa{
    margin-right: 8px;
}
i{
    height: fit-content;
}
p{
  margin:30px;
  font-size:25px;
  font-family:arial;
  text-align:justify;
}
.h4 {
  color:black;
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}
.h4::before {
  text-align:center;
  background: #ff5a6e none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 5px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}
p.h2{
text-align:center;
display: block;
font-size:36px;
margin-bottom: 10px;
text-transform: uppercase;
font-weight:bold;
}
span {
color: #ff5a6e;
}
.h5{
margin:10px;
font-size:22px;
font-family:arial;
}
.row{
  margin-left:10%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  height:30%;
}
.card:hover {
  box-shadow: 0 8px 20px 2px rgba(0,0,0,0.6);
}
.container {
  padding: 10px 16px;
}
.column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
  margin-bottom:50px;
  margin-top:30px;
}
@media screen and (max-width: 650px) {
  .column {
    width: 30%;
    display: block;
  }
}
section{
  padding:2rem 9%;
}
.footer{
  background:#262626;
}
.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}
.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}
.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:.7rem 0;
  color:#fff;
}
.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
  text-decoration: none;
}
.footer .box-container .box a:hover{
  color:orange;
  border-radius: 5px;
  background: #000;
}  
.footer .credit{
  text-align: center;
  padding:2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color:#fff;
  border-top: .1rem solid rgba(255,255,255,.2);
}
.box .fa{
  margin-right: 5px;
}